

.revc-box {
  padding: 0.5rem;
}
.send-box{
  padding: 0.5rem;
  padding-bottom: 0rem;
}
.send-box .form-group {
	display: inline-block;
	width: 80%;
}


.send-box .send-box-ch2{
  padding-bottom: 0rem;
}

.send-box .send-box-ch2 .form-group{
  margin-bottom: 0rem;
}

.mini-split{
  padding: 0rem;
  margin: 0rem;
}